* { 
	margin:0px; 
	padding:0px; 
}

html { 
	height:100%; 
}

body { 
	min-height:100%; 
	position:relative; 
	min-width:800px; 
}

* html body { 
	height:100%; 
}

.wrap {
	width:100%; 
	padding-bottom:60px; 
	overflow:hidden;
}

.content {
	width:100%; 
	padding-bottom:60px; 
	overflow:hidden;
}

#map {
	width: 100%; 
	height: 400px;
	float: left;
	/*clear: both;*/
}

#debug {
	background-color: #DFD;
	width: 30%;
	margin-left: 5%;
	padding: 2%;
	float: left;
}

#eventslist {
	float: left;
	width: 30%;
	/*height: 500px;*/
	margin-left: 5%;
	padding: 2%;
	background-color: #DDD;
	clear: right;
}

#eventtypes {
	float: left;
	width: 100%;
	background-color: #DFF;
	margin-top: 20px;
	clear: right;
}

#leftcolumn {
	float: left;
	width: 60%;
	/*background-color: #DFF;*/
}

a {
	color: #033;
}

.event {
	border: 1px dotted #999;
	padding: 5px;
	background-color: #CCC;
}

.footer {
	position:absolute; 
	/*clear: both;*/
	margin-top: 20px;
	padding-top: 20px;
	bottom:-20px;
	width: 100%;
	height: 60px;
	/*background-color: #F00;*/
	text-align: center;
	font-size: 12pt;
}

.header { 
	background:#DDF; 
	padding: 20px;
	margin-bottom: 20px;
	height:70px; 
	width:100%; 
}