{% extends "floppyforms/gis/openlayers.html" %}

{% block options %}
{{ block.super }}
	options['base_layer'] = new OpenLayers.Layer.Google("Google Streets",{
		//numZoomLevels: 20,
		minZoomLevel: 11,
		maxZoomLevel: 20,
		//scales: [50000000, 30000000, 10000000, 5000000],
		//resolutions: [1.40625,0.703125,0.3515625,0.17578125,0.087890625,0.0439453125],
		//minScale: 50000000,
		//maxResolution: "auto",
		//maxExtent: new OpenLayers.Bounds(-180, -90, 180, 90),
		//maxExtent: new OpenLayers.Bounds(4061557,7385569,4267632,7588586),
		//maxResolution: 0.17578125,
		//maxScale: 10000000,
		//minResolution: "auto",
		//minExtent: new OpenLayers.Bounds(-1, -1, 1, 1),
		//minResolution: 0.0439453125,
		units: "m"
	});
	//options['point_zoom'] = 10;
	options['default_lon'] = {{ lon }};
	options['default_lat'] = {{ lat }};
{% endblock %}

{% block map_options %}
var map_options = {
	// maxExtend: new OpenLayers.Bounds(4061557,7385569,4267632,7588586),
	// maxResolution: 156543.0339,
	// numZoomLevels: 20,
	// units: 'm'
	//scales: [50000000, 30000000, 10000000, 5000000],
	//resolutions: [1.40625,0.703125,0.3515625,0.17578125,0.087890625,0.0439453125],
	//minScale: 50000000,
	//maxResolution: "auto",
	//maxExtent: new OpenLayers.Bounds(-180, -90, 180, 90),
	//maxResolution: 0.17578125,
	//maxScale: 10000000,
	//minResolution: "auto",
	//minExtent: new OpenLayers.Bounds(-1, -1, 1, 1),
	//minResolution: 0.0439453125,
	//numZoomLevels: 5,
	units: "degrees"
};
{% endblock %}
