<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Event GIS</title>
		<script src="{{ STATIC_URL }}js/jquery-1.11.0.js"></script>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
		{% block media %}
		{% endblock %}
	</head>
		<div class="wrap">
			<!-- header -->
			<div class="header">
				{% block header %}
				{% endblock %}
			</div>
			<!-- end header -->
			<!-- main -->
			<div class="main">
				{% block main %}
				{% endblock %}
			</div>
			<!-- end main -->
			<div class="pusher"></div>
		</div>
		<!-- end wrap -->
		<!-- footer -->
		<div class="footer">
			{% block footer %}
			{% endblock %}
		</div>
		<!-- end footer -->
	</body>
</html>
