{% extends 'base.html' %}

{% block media %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
<script type="text/javascript">
var drawingManager;
var selectedPointOverlay;
var selectedOverlay;
var map;
var markers = [];
var markerContents = [];
var numberOfMarkers = 0;
var openedInfoWindow;
var selectedPolygon;
var selectedTypes = [];

var defaultLatLng = new google.maps.LatLng( {{ lat }}, {{ lon }});
var defaultZoom = 8;

window.onload = function () {

	$("#clear_features").click(function() {
		drawingManager.setOptions({
			drawingControl: true
		});
		if (selectedOverlay)
			selectedOverlay.setMap(null);
		$('#polygon').val('');
	});

	getEventTypes();
	mapInitialize();
};

function getEvents (/*types, startDate, endDate, bounds*/) {
	var types = selectedTypes.join('+');
	if (types !== undefined && types != '')
		types='type=' + types + '&';
	$.ajax({
		url: "/filter_events?"+ types +"start_time=2011-01-01+00-00&end_time=2014-04-04+00-00",
		type: "GET",
		dataType: "json",
		cache: false,
		success: onDataReceived
	});
}

function getEventTypes () {
	$.ajax({
		url: "/event_types",
		type: "GET",
		dataType: "json",
		cache: false,
		success: function (types) {
			$("#eventtypes").html(types.reduce(function(pr,cur){
				return pr + '<input type=checkbox name="eventtype' + cur.id + 
					'" class="eventtype">&nbsp;' + cur.description + '</input><br>';
			},""));
			$("#eventtypes").click (function () {
				var inp = document.getElementsByTagName('input');
				var length = inp.length;
				
				selectedTypes = [];
				
				for (var i = 0; i < length; i++) {
					if (inp[i].checked) {
						// mas.push(inp[i].nextSibling.nodeValue);
						selectedTypes.push(inp[i].name.match(/eventtype([0-9]*)/)[1]);
					}
				}
				getEvents();
			});
		}
	});
}

function setInfowindow(newInfoWindow) {
	if (openedInfoWindow !== undefined) {
		openedInfoWindow.close();
	}

	openedInfoWindow = newInfoWindow;
}

function eventClick(i) {
	var infoWindowOptions = {
		content: markerContents[i]
	};
	var infoWindow = new google.maps.InfoWindow(infoWindowOptions);
	infoWindow.open(map, markers[i]);
	setInfowindow(infoWindow);
}

function clearMarkers () {
	for (var i = 0; i < markers.length; i++) {
		markers[i].setMap(null);
	}
	markers = [];
	markerContents = [];
	numberOfMarkers = 0;
}

function createMarker(map,latlng,title,markerContent) {
	var iconSize = new google.maps.Size(20, 34);
	var iconShadowSize = new google.maps.Size(37, 34);
	var iconHotSpotOffset = new google.maps.Point(9, 34); // Should this be (9, 34)?
	var iconPosition = new google.maps.Point(0, 0);
	var infoWindowAnchor = new google.maps.Point(9, 2);
	var infoShadowAnchor = new google.maps.Point(18, 25);

	var iconShadowUrl = "http://www.google.com/mapfiles/shadow50.png";
	var iconImageUrl;
	var iconImageOverUrl;
	var iconImageOutUrl;

	iconImageOutUrl = "{{ STATIC_URL }}img/orangemarker.png";
	iconImageOverUrl = "{{ STATIC_URL }}img/greenmarker.png";
	iconImageUrl = iconImageOutUrl;
	

	var markerShadow =
			new google.maps.MarkerImage(iconShadowUrl, iconShadowSize, iconPosition, iconHotSpotOffset);

	var markerImage =
			new google.maps.MarkerImage(iconImageUrl, iconSize, iconPosition, iconHotSpotOffset);

	var markerImageOver =
			new google.maps.MarkerImage(iconImageOverUrl, iconSize, iconPosition, iconHotSpotOffset);

	var markerImageOut =
			new google.maps.MarkerImage(iconImageOutUrl, iconSize, iconPosition, iconHotSpotOffset);

	var markerOptions = {
		title: title,
		icon: markerImage,
		shadow: markerShadow,
		position: latlng,
		map: map
	};

	var marker = new google.maps.Marker(markerOptions);

	google.maps.event.addListener(marker, "click", function() {
		var infowindowOptions = {
			content: markerContent
		};
		var infoWindow = new google.maps.InfoWindow(infowindowOptions);
		setInfowindow(infoWindow);
		infoWindow.open(map, marker);
		marker.setIcon(markerImageOut);
	});
	google.maps.event.addListener(marker, "mouseover", function() {
		marker.setIcon(markerImageOver);
	});
	google.maps.event.addListener(marker, "mouseout", function() {
		marker.setIcon(markerImageOut);
	});

	return marker;
}

function onDataReceived(events) {
	var htmlEventsList = "";	

	var bounds = new google.maps.LatLngBounds();
	
	// delete previous markers from map
	clearMarkers();
	// create new markers
	for (var i = 0; i < events.length; ++i){
		var currentEvent = events[i];

		var pointlatlng = currentEvent.location.match(/[0-9]*[.][0-9]+/g);
		var lat = pointlatlng[1];
		var lng = pointlatlng[0];
		var latlng = new google.maps.LatLng(lat,lng);

		if (!google.maps.geometry.poly.containsLocation(latlng,selectedPolygon)) {
			continue;
		}

		var title = currentEvent.name;
		var markerContent = "<div style='font-size:12px'>";
		markerContent += "<b>" + currentEvent.name + "</b>";
		markerContent += "<br/>" + currentEvent.description;
		markerContent += "</div>";

		var marker = createMarker(map,latlng,title,markerContent);
		markers.push(marker);
		markerContents.push(markerContent);
		
		bounds.extend(latlng);

		// add features for list of event next to map
		htmlEventsList += ('<div class="event"><a href="javascript:eventClick(' + 
			numberOfMarkers + ')">' + currentEvent.name + 
			"<\/a><br>" + currentEvent.address + "<\/div><br><br>");
		
		++numberOfMarkers;
	}

	if (markers.length !== 0) {
		//map.fitBounds(bounds);
		map.setCenter(bounds.getCenter());
	}
	else {
		//map.setCenter(defaultLatLng);
		//map.setZoom(defaultZoom);
	}
	$("#eventslist").html(htmlEventsList);

	//var mcOptions = {gridSize: 20, maxZoom: 15};
	//var markerCluster = new MarkerClusterer(map, markers, mcOptions);
}

function mapInitialize() {
	var mapOptions = {
		center: defaultLatLng,
		zoom: defaultZoom
	};

	map = new google.maps.Map(document.getElementById('map'),mapOptions);

	drawingManager = new google.maps.drawing.DrawingManager({
		drawingMode: google.maps.drawing.OverlayType.MARKER,
		drawingControl: true,
		drawingControlOptions: {
			position: google.maps.ControlPosition.TOP_CENTER,
			drawingModes: [
				google.maps.drawing.OverlayType.MARKER,
				google.maps.drawing.OverlayType.POLYGON
			]
		},
		polygonOptions: {
			fillColor: '#FF9933',
			fillOpacity: 0.2,
			strokeColor: '#FF9933',
			strokeWeight: 3,
			clickable: false,
			editable: true,
			zIndex: 1
		}
	});
	drawingManager.setMap(map);

	google.maps.event.addListener(drawingManager, "overlaycomplete", function(event){
		drawingManager.setOptions({
			drawingControl: false
		});
		selectedOverlay = event.overlay;
		google.maps.event.addListener(selectedOverlay.getPath(), 'insert_at', function(index, obj) {
			selectedPolygon = selectedOverlay;
			getEvents();
		});
		google.maps.event.addListener(selectedOverlay.getPath(), 'set_at', function(index, obj) {
			selectedPolygon = selectedOverlay;
			getEvents();
		});
		drawingManager.setDrawingMode(null);
		if (event.type == google.maps.drawing.OverlayType.POLYGON) {
			$('#polygon').val(event.overlay.getPath().getArray());
		}
		else {
			$('#polygon').val(event.overlay.getPosition());
		}
	});
	google.maps.event.addListener(drawingManager, "polygoncomplete", function(polygon){
		selectedPolygon = polygon;
		getEvents();
	});

	drawingManager.setDrawingMode(null);
}

//google.maps.event.addDomListener(window, 'load', mapInitialize);

</script>
{% endblock %}

{% block header %}
	<h1>Welcome to EventGIS!</h1>
{% endblock %}

{% block main %}
	<div id="leftcolumn">
		<div id="map"></div>
		<div id="eventtypes"></div>
	</div>
	<div id="debug">
		<p>Отладочная информация</p>
		<br>
		<textarea id="polygon"> </textarea> <br>
		<input type="button" id="clear_features" value="Очистить" />
	</div>
	<div id="eventslist"></div>
{% endblock %}