{% extends 'base.html' %}

{% block media %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=drawing"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.datetimepicker.css"/ >
<script src="{{ STATIC_URL }}js/jquery.datetimepicker.js"></script>
<!-- <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script> -->
<script type="text/javascript">
var drawingManager;
var selectedPointOverlay;
var selectedOverlay;
var map;
var markers = [];
var markerContents = [];
var numberOfMarkers = 0;
var openedInfoWindow;
var selectedPolygon;
var selectedTypes = [];
var selectedEventIDs = [];
var start_time, end_time;
var poly = [];
var bounds;

var defaultLatLng = new google.maps.LatLng( {{ lat }}, {{ lon }});
var defaultZoom = 8;

window.onload = function () {

	$("#clear_features").click(function() {
		drawingManager.setOptions({
			drawingControl: true
		});
		if (selectedOverlay)
			selectedOverlay.setMap(null);
		$('#polygon').val('');
	});

	getEventTypes();
	mapInitialize();

	var datetimeOptions = {
		format:'d.m.Y H:i',
		mask:true,
		lang:'ru',
		onClose: function(dp,$input) {
			getEvents();
		}
	};

	$('#start_timepicker').datetimepicker(datetimeOptions);
	$('#end_timepicker').datetimepicker(datetimeOptions);
};

function rainbow(numOfSteps, step) {
	// This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
	// Adam Cole, 2011-Sept-14
	// HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
	var r, g, b;
	var h = step / numOfSteps;
	var i = ~~(h * 6);
	var f = h * 6 - i;
	var q = 1 - f;
	switch(i % 6){
		case 0: r = 1, g = f, b = 0; break;
		case 1: r = q, g = 1, b = 0; break;
		case 2: r = 0, g = 1, b = f; break;
		case 3: r = 0, g = q, b = 1; break;
		case 4: r = f, g = 0, b = 1; break;
		case 5: r = 1, g = 0, b = q; break;
	}
	var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
	return (c);
}

function getEvents () {
	var types = selectedTypes.join('+');
	start_time = document.getElementById('start_timepicker').value;
	end_time = document.getElementById('end_timepicker').value;

	if (types !== undefined && types != '')
		types='type=' + types + '&';
	$.ajax({
		url: "/filter_events?"+ types +"start_time=" + start_time.replace(' ','+') + "&end_time=" + end_time.replace(' ','+'),
		type: "GET",
		dataType: "json",
		cache: false,
		success: onDataReceived
	});
}

function getEventTypes () {
	$.ajax({
		url: "/event_types",
		type: "GET",
		dataType: "json",
		cache: false,
		success: function (types) {
			$("#eventtypes").html(types.reduce(function(pr,cur){
				return pr + '<input type=checkbox onclick="eventTypeClick()" name="eventtype' + cur.id + 
					'" class="eventtype">&nbsp;' + cur.description + '</input><br>';
			},""));
		}
	});
}

function eventTypeClick() {
	var eventTypeCheckboxes = document.getElementsByClassName('eventtype');
	var length = eventTypeCheckboxes.length;
	
	selectedTypes = [];
	
	for (var i = 0; i < length; i++) {
		if (eventTypeCheckboxes[i].checked) {
			selectedTypes.push(eventTypeCheckboxes[i].name.match(/eventtype([0-9]*)/)[1]);
		}
	}
	getEvents();
}

function setInfowindow(newInfoWindow) {
	if (openedInfoWindow !== undefined) {
		openedInfoWindow.close();
	}

	openedInfoWindow = newInfoWindow;
}

function eventClick(i) {
	var infoWindowOptions = {
		content: markerContents[i]
	};
	var infoWindow = new google.maps.InfoWindow(infoWindowOptions);
	infoWindow.open(map, markers[i]);
	setInfowindow(infoWindow);
}

function clearRoute () {
	for (var i in poly)
	{
		poly[i].setMap(null);
	}
	poly = [];
}

function clearMarkers () {
	for (var i = 0; i < markers.length; i++) {
		setMarkerMap(i,null);
	}
	markers = [];
	markerContents = [];
	numberOfMarkers = 0;
}

function setMarkerMap (i,map) {
	markers[i].setMap(map);
}

function createMarker(map,latlng,title,markerContent) {
	var iconSize = new google.maps.Size(20, 34);
	var iconShadowSize = new google.maps.Size(37, 34);
	var iconHotSpotOffset = new google.maps.Point(9, 34); // Should this be (9, 34)?
	var iconPosition = new google.maps.Point(0, 0);
	var infoWindowAnchor = new google.maps.Point(9, 2);
	var infoShadowAnchor = new google.maps.Point(18, 25);

	var iconShadowUrl = "http://www.google.com/mapfiles/shadow50.png";
	var iconImageUrl;
	var iconImageOverUrl;
	var iconImageOutUrl;

	iconImageOutUrl = "{{ STATIC_URL }}img/orangemarker.png";
	iconImageOverUrl = "{{ STATIC_URL }}img/greenmarker.png";
	iconImageUrl = iconImageOutUrl;
	

	var markerShadow =
			new google.maps.MarkerImage(iconShadowUrl, iconShadowSize, iconPosition, iconHotSpotOffset);

	var markerImage =
			new google.maps.MarkerImage(iconImageUrl, iconSize, iconPosition, iconHotSpotOffset);

	var markerImageOver =
			new google.maps.MarkerImage(iconImageOverUrl, iconSize, iconPosition, iconHotSpotOffset);

	var markerImageOut =
			new google.maps.MarkerImage(iconImageOutUrl, iconSize, iconPosition, iconHotSpotOffset);

	var markerOptions = {
		title: title,
		icon: markerImage,
		shadow: markerShadow,
		position: latlng,
		map: map
	};

	var marker = new google.maps.Marker(markerOptions);

	google.maps.event.addListener(marker, "click", function() {
		var infowindowOptions = {
			content: markerContent
		};
		var infoWindow = new google.maps.InfoWindow(infowindowOptions);
		setInfowindow(infoWindow);
		infoWindow.open(map, marker);
		marker.setIcon(markerImageOut);
	});
	google.maps.event.addListener(marker, "mouseover", function() {
		marker.setIcon(markerImageOver);
	});
	google.maps.event.addListener(marker, "mouseout", function() {
		marker.setIcon(markerImageOut);
	});

	return marker;
}

function refreshSelectedIDs () {
	selectedEventIDs = [];

	var eventCheckboxes = document.getElementsByClassName('event');
	var length = eventCheckboxes.length;

	for (var i = 0; i < length; i++) {
		if (eventCheckboxes[i].checked) {
			setMarkerMap(i,map);
			selectedEventIDs.push(eventCheckboxes[i].name.match(/event([0-9]*)/)[1]);
		}
		else {
			setMarkerMap(i,null);
		}
	}
	// makeRoute();
}

function makeRoute() {
	$.ajax({
		url: "/make_route?event_ids="+selectedEventIDs.join("+"),
		type: "GET",
		dataType: "json",
		cache: false,
		success: function (route) {
			
			route = JSON.parse(route);
			clearRoute();
			var eventboxes = document.getElementsByClassName('eventbox'); // gets my span
			for (var i = 0; i < eventboxes.length; ++i) {
				eventboxes[i].style.backgroundColor = "#CCC";
			}
			if (route.hasTimeIntersections) 
			{
				alert("Events " + route.first + " and " + route.second + " has time intersections! Fix please.");

				$("#eventbox" + route.first).css('background-color', '#F88');
				$("#eventbox" + route.second).css('background-color', '#F88');
				
				return;
			}

			var legsLength = route.legs.length;
			for (var leg in route.legs) {
				var path = [];
				for (var step in route.legs[leg].steps) {
					path = path.concat(google.maps.geometry.encoding.decodePath(route.legs[leg].steps[step].polyline));
				}
				poly.push(new google.maps.Polyline({ 
					path: path,
					strokeColor: rainbow(legsLength, leg),
					strokeOpacity: 0.8,
				}));
				
				poly[leg].setMap(map);
			}
			map.fitBounds(bounds);
		}
	});
}

function onDataReceived(events) {
	var htmlEventsList = "";	

	bounds = new google.maps.LatLngBounds();
	

	selectedEventIDs = [];
	// delete previous markers from map
	clearMarkers();
	// create new markers
	for (var i = 0; i < events.length; ++i){
		var currentEvent = events[i];

		var pointlatlng = currentEvent.location.match(/[0-9]*[.][0-9]+/g);
		var lat = pointlatlng[1];
		var lng = pointlatlng[0];
		var latlng = new google.maps.LatLng(lat,lng);

		if (!google.maps.geometry.poly.containsLocation(latlng,selectedPolygon)) {
			continue;
		}

		var title = currentEvent.name;
		var markerContent = "<div style='font-size:12px'>";
		markerContent += "<b>" + currentEvent.name + "</b>";
		markerContent += "<br/>" + currentEvent.description;
		markerContent += "</div>";

		var marker = createMarker(map,latlng,title,markerContent);
		markers.push(marker);
		markerContents.push(markerContent);
		
		bounds.extend(latlng);

		// add features for list of event next to map
		htmlEventsList += ('<div id="eventbox' + currentEvent.id + '" class="eventbox"><input type=checkbox class="event" checked="checked" onclick="refreshSelectedIDs()" name="event' + 
		 	currentEvent.id + '">&nbsp;</input><a href="javascript:eventClick(' + 
			numberOfMarkers + ')">' + currentEvent.name + 
			"<\/a><br>" + currentEvent.address + "<br>" + currentEvent.start_time + "-" + currentEvent.end_time + "<\/div><br><br>");

		// add id of currentEvent to the list of selected event IDs
		selectedEventIDs.push(currentEvent.id);
		
		++numberOfMarkers;
	}

	if (markers.length !== 0) {
		//map.fitBounds(bounds);
		map.setCenter(bounds.getCenter());
	}
	else {
		//map.setCenter(defaultLatLng);
		//map.setZoom(defaultZoom);
	}
	$("#eventslist").html(htmlEventsList);

	//var mcOptions = {gridSize: 20, maxZoom: 15};
	//var markerCluster = new MarkerClusterer(map, markers, mcOptions);
}

function mapInitialize() {
	var mapOptions = {
		center: defaultLatLng,
		zoom: defaultZoom
	};

	map = new google.maps.Map(document.getElementById('map'),mapOptions);

	drawingManager = new google.maps.drawing.DrawingManager({
		drawingMode: google.maps.drawing.OverlayType.MARKER,
		drawingControl: true,
		drawingControlOptions: {
			position: google.maps.ControlPosition.TOP_CENTER,
			drawingModes: [
				google.maps.drawing.OverlayType.MARKER,
				google.maps.drawing.OverlayType.POLYGON
			]
		},
		polygonOptions: {
			fillColor: '#FF9933',
			fillOpacity: 0.2,
			strokeColor: '#FF9933',
			strokeWeight: 3,
			clickable: false,
			editable: true,
			zIndex: 1
		}
	});
	drawingManager.setMap(map);

	google.maps.event.addListener(drawingManager, "overlaycomplete", function(event){
		drawingManager.setOptions({
			drawingControl: false
		});
		selectedOverlay = event.overlay;
		google.maps.event.addListener(selectedOverlay.getPath(), 'insert_at', function(index, obj) {
			selectedPolygon = selectedOverlay;
			getEvents();
		});
		google.maps.event.addListener(selectedOverlay.getPath(), 'set_at', function(index, obj) {
			selectedPolygon = selectedOverlay;
			getEvents();
		});
		drawingManager.setDrawingMode(null);
		if (event.type == google.maps.drawing.OverlayType.POLYGON) {
			$('#polygon').val(event.overlay.getPath().getArray());
		}
		else {
			$('#polygon').val(event.overlay.getPosition());
		}
	});
	google.maps.event.addListener(drawingManager, "polygoncomplete", function(polygon){
		selectedPolygon = polygon;
		getEvents();
	});

	drawingManager.setDrawingMode(null);
}

</script>
{% endblock %}

{% block header %}
	<h1>Welcome to EventGIS!</h1>
{% endblock %}

{% block main %}
	<div id="leftcolumn">
		<div id="map"></div>
		<div id="eventtypes"></div>
		<div id="datetime">
			Время начала:<br>
			<input id="start_timepicker" type="text" value="12.04.2014 00:00" />
			<br>
			<br>
			Время конца:<br>
			<input id="end_timepicker" type="text" value="12.04.2014 00:00" />
		</div>
	</div>
	<div id="debug">
		<!-- <p>Отладочная информация</p>
		<br>
		<textarea id="polygon"> </textarea> <br>
		<input type="button" id="clear_features" value="Очистить" />
		<br> -->
		<input type="button" id="makepath" value="Проложить маршрут" onclick="makeRoute()"/>
		<!-- <br>
		<div id="debugdate"></div> -->
	</div>
	<div id="eventslist"></div>
{% endblock %}